[Desktop Entry]
Encoding=UTF-8
Name=Link to Grenoble INP - Chamilo/Cours en ligne INP - Ensimag 5MMMSF Méthodes statistiques pour la finance
Type=Link
URL=http://chamilo2.grenet.fr/inp/main/course_description/?cidReq=ENSIMAG5MMMSF&id_session=0&gidReq=0&origin=
Icon=text-html
Name[en_US]=Sujet
